<!DOCTYPE html>
<html lang="en" class="h-full bg-black">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EarthGPT</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body class="h-full">
    <div class="min-h-full">
      <nav class="bg-black">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="flex h-16 items-center justify-between">
            <div class="flex items-center">
              <div>
                <img
                  class="vizzuality-logo-desktop"
                  src="{{ url_for('static', filename='images/logo.svg') }}"
                  alt="Vizzuality"
                />
              </div>
              <div class="flex-shrink-0 text-white px-5 py-3 text-xl text-bold"><span class="inline-flex items-center rounded-md bg-gray-400/10 px-2 py-1 text-xs font-medium text-gray-200 ring-1 ring-inset ring-gray-200/20">EarthGPT</span></div>
              <div class="hidden md:block">
                <div class="ml-10 flex items-baseline space-x-4">
                  <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                </div>
              </div>
            </div>
            <div class="hidden md:block">
              <div class="ml-4 flex items-center md:ml-6">
                <button
                  type="button"
                  id="logout"
                  class="rounded-md bg-black px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-gray-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-700"
                  data-url=""
                >
                  Logout
                </button>
              </div>
            </div>
          </div>
        </div>
      </nav>    
      <main>
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8 bg-gray-800 mt-4 md:mt-8">
          <!-- Your content -->
          <div id="map" class="mx-auto max-w-7xl sm:px-6 lg:px-8 h-64">
            <!-- Content goes here -->
          </div>
          <div>
            <label for="location" class="sr-only">Location</label>
            <input type="location" name="location" id="location" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-4 py-2" placeholder="Write your location">
          </div>
          <div id="user-console">
            <article id="chat-window" class="mx-auto max-w-7xl sm:px-6 lg:px-8 h-48 overflow-y-scroll bg-gray-700 px-4 py-2 mt-4 md:mt-8">
                <!-- Chat goes here -->     
            </article>
            <div>
                <label for="send-a-message" class="sr-only">Make your question.</label>
                <textarea name="send-a-message" id="send-a-message" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-4 py-2 " placeholder="Make your question."></textarea>
             </div>
         </div>
        </div>
      </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/showdown/dist/showdown.min.js"></script>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJCJpZOrRcPPL0_R-lQdk_YCb7DsidWgM&callback=initMap"></script>
  </body>
</html>
