<!DOCTYPE html>
<html lang="en" class="h-full bg-black">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GeoGPT</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body class="h-full">
    <div class="min-h-full">
      <nav class="bg-black">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="flex h-16 items-center justify-between">
            <div class="flex items-center">
              <div>
                <img
                  class="vizzuality-logo-desktop"
                  src="{{ url_for('static', filename='images/logo.svg') }}"
                  alt="Vizzuality"
                />
              </div>
              <div class="flex-shrink-0">GeoGPT</div>
              <div class="hidden md:block">
                <div class="ml-10 flex items-baseline space-x-4">
                  <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                </div>
              </div>
            </div>
            <div class="hidden md:block">
              <div class="ml-4 flex items-center md:ml-6">
                <button
                  type="button"
                  id="login"
                  class="rounded-md bg-black px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-gray-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-700"
                  data-url=""
                >
                  Login
                </button>
              </div>
            </div>
          </div>
        </div>
      </nav>    
      <main>
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8 bg-gray-800 mt-4 md:mt-8">
          <!-- Your content -->
          <div id="map" class="mx-auto max-w-7xl sm:px-6 lg:px-8 h-64">
            <!-- Content goes here -->
          </div>
          <div>
            <label for="location" class="sr-only">Location</label>
            <input type="location" name="location" id="location" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-4 py-2" placeholder="Write your location">
          </div>
          <article id="chat-window" class="mx-auto max-w-7xl sm:px-6 lg:px-8 h-48 overflow-y-scroll prose dark:prose-invert bg-gray-700 px-4 py-2 mt-4 md:mt-8">
            <!-- Chat goes here -->
            <h1>Garlic bread with cheese: What the science tells us</h1>
  <p>
    For years parents have espoused the health benefits of eating garlic bread with cheese to their
    children, with the food earning such an iconic status in our culture that kids will often dress
    up as warm, cheesy loaf for Halloween.
  </p>
  <p>
    But a recent study shows that the celebrated appetizer may be linked to a series of rabies cases
    springing up around the country.
  </p>  
          </article>

        </div>
      </main>
    </div>
    <script type="module" src="static/js/markedHelper.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJCJpZOrRcPPL0_R-lQdk_YCb7DsidWgM&callback=initMap"></script>
  </body>
</html>
